:host {
  height: 100vh;
  margin: 0px;

  min-width: 500px;
  min-height: 755px;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas: "header header"
                       "palette editor"
                       "footer footer";
  gap: 1px;
}

@media only screen and (max-width: 730px) {
  :host {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 2fr 1fr 30px;
    grid-template-areas: "header"
                         "editor"
                         "palette"
                         "footer";
  }
}

.header {
  grid-area: header;

  background-color: #707070;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header > .logo {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.editor {
  grid-area: editor;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
}

.dot-area {
  display: grid;
  grid-template-columns: repeat(25, 20px);
  grid-template-rows: repeat(25, 20px);

  width: 500px;
  height: 500px;

  border: 1px solid white;
}

.dot-area > .dot {
  background-color: white;
  border: 0.1px solid lightgray;
}

.palette {
  grid-area: palette;

  display: grid;
  grid-template-rows: 50px 1fr;

  background-color: #707070;
}

.palette > .palette-title {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.palette > .palette-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows: repeat(auto-fill, 20px);
}

.palette-area > .palette-value {
  border: 0.1px solid lightgray;
  cursor: pointer;
}

.footer {
  grid-area: footer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #707070;
}

.footer > span {
  color: white;
}

.footer > span > a {
  color: white;
}